body {
		font-family: Montserrat, Helvetica;
		text-align:center ;
		background-color: #B0D3FC;
		}


#tabla2 td,th,tr{
		border-collapse: collapse;
		border: 2px solid #ccc;
}

.tabla1 td,th,tr{
		border-collapse: collapse;
		border: 1px solid black;
}

	
table.tabla1 {
		border-collapse: collapse;
		width: 75%;
	}
table#tabla2 {
		border-collapse: collapse;
		width: 75%;
		background-color: white;
		border: 2px solid #ccc;
	}
		

#estilo1 {
		color:tomato; 
		text-decoration:underline;
		}
#estilo2 {
		background-color:tomato;
}
#estilo3 {
		font-family:verdana;
}
#estilo4 {
		font-size:15px;
}
#estilo5 {
	text-align:center;
}

#estilo7 {
	font-size: 30px;
	    transform: rotate(45deg);
}

#estilo9{
	background-color:red;
}
#boton:link, #boton:visited {
  background-color: #33B96A;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

#boton:hover, #boton:active {
  background-color: #33B7B9;
    text-align: center;
}
.entretablas{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#elementosBasicos{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#enlacesBotones{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#layouts{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#codigoOrdenador{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#entidades{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#elementosHead{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#javaScript{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#formularios{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#bloques{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#media{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#tablas{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#listas{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#iframes{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}
#estilos{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	margin-left: 12.5%;
}



.tabla1  th, .tabla1 td{
  padding: 15px;
}

table.tabla1 tr:nth-child(even) {
  background-color: #eee;
}
table.tabla1 tr:nth-child(odd) {
 background-color: #fff;
}
table.tabla1 th {
  background-color: rgb(238, 240, 199);
}

#estilo6 {
background-color:green;
}


td#tabla21td{
  width: 75px;
   height: 140px;
  		
}
td#tabla2td{
  width: 75px;
   height: 140px;
  		
}td#tabla3td{
  width: 75px;
   height: 140px;
  		
}td#tabla4td{
  width: 75px;
   height: 140px;
  		
}td#tabla5td{
  width: 75px;
   height: 140px;
  		
}td#tabla6td{
  width: 75px;
   height: 140px;
  		
}td#tabla7td{
  width: 75px;
   height: 140px;
  		
}td#tabla8td{
  width: 75px;
   height: 140px;
  		
}td#tabla9td{
  width: 75px;
   height: 140px;
  		
}td#tabla10td{
  width: 75px;
   height: 140px;
  		
}td#tabla11td{
  width: 75px;
   height: 140px;
  		
}td#tabla13td{
  width: 75px;
   height: 140px;
  		
}td#tabla12td{
  width: 75px;
   height: 140px;
  		
}
td#tabla13td{
  width: 75px;
   height: 140px;
  		
}
td#tabla14td{
  width: 75px;
   height: 140px;
  		
}
td#tabla15td{
  width: 75px;
   height: 140px;
  		
}
td#tabla16td{
  width: 75px;
   height: 140px;
  		
}
td#tabla17td{
  width: 75px;
   height: 140px;
  		
}
td#tabla18td{
  width: 75px;
   height: 140px;
  		
}
td#tabla19td{
  width: 75px;
   height: 140px;
  		
}
td#tabla20td{
  width: 75px;
   height: 140px;
  		
}
td#tabla21td{
  width: 75px;
   height: 140px;
  		
}
td#tabla22td{
  width: 75px;
   height: 140px;
  		
}

td#tabla2tdazul{
  width: 75px;
   height: 140px;
	background-color:blue;
}
td#tabla2tdimg{
  background-color: #7FFFD4;
}
td#tabla2tdlol{
  width: 75px;
   height: 140px;
  background-color: #572364;
}
td#tabla2tdhtml{
  width: 75px;
   height: 140px;
   font-size: 25px;
  
}
td {

}
}
#estilo8 {
    transform: rotate(45deg);
}
#imagenes{
width:100%;
}

#rotar {
    transform: rotate(90deg);
	font-size: 30px;
  }
  
#documento {
	width: 100%;
	height: 85%;
	background-color: white;
}  

#documentoFila {
}

#documentoFilaVacio {
	height: 50px;
}

#vacio {
	width: 10%;
}

#texto {
	width: 80%;
}


#imagenPaisaje{
	width: 500px;
	height: 204,5px;
	padding: 30px;
}
  
#div1 {
background-color:red;
height: 75px;
width: 200px;
}  
#div2 {
background-color:green;
height: 75px;
width: 200px;
}  
#div3 {
background-color:yellow;
height: 75px;
width: 200px;
}  
#div4 {
background-color:black;
height: 75px;
width: 200px;
}  
#div5 {
background-color:blue;
height: 75px;
width: 200px;
}  
#div6 {
background-color:purple;
height: 150px;
width: 100%;
}  
#iframe {
border:none;
width: 100%;
height: 75px;
}

#footer{
	text-align: center;
}
#iframeFooter {
border:none;
width: 100%;
height: 50px;
}  

#iframeTitulo {
border:none;
width: 100%;
height: 60px;
}  
    
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 6px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.boton:link, .boton:visited {
  background-color: #33B96A;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
    border-radius: 5px;
}

.boton:hover, .boton:active {
  background-color: #33B7B9;
    text-align: center;
}  

.centrar{
	margin: 0 auto;
	
	
}


#elementoFormulario{
	width: 25%;
	margin-top: 8px;
	margin-bottom: 8px;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
	padding: 4px;
}

#elementoFormularioSinWidth{
	margin-top: 8px;
	margin-bottom: 8px;
	  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}





.boton1:link, .boton1:visited {
  background-color: #49C6F3;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.boton1:hover, .boton1:active {
  background-color: #00B1F2;
    text-align: center;
}